<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8e7a282c-da71-404e-afa4-c77d08cd1545/resourceGroups/SpeedyGo/providers/Microsoft.Web/sites/speedygoAccount</ResourceId>
    <ResourceGroup>SpeedyGo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://speedygoaccount-cfgbgvguhrajbcct.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ad4ac6fc-93c3-4f0c-9d22-e75a18a7eb3a</ProjectGuid>
    <PublishUrl>https://speedygoaccount-cfgbgvguhrajbcct.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>